body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.top-panel {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Распределение по краям */
}

.top-panel-left {
    display: flex;
    align-items: center;
}

.top-panel-right {
    display: flex;
    align-items: center;
}

.game-block, .upgrade-block, .settings-block, .extra-block {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 23%; /* Распределение блоков по ширине */
    box-sizing: border-box;
}

/* Добавляем отступ между блоками */
.game-block, .upgrade-block, .settings-block {
    margin-right: 2%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Стили для кнопок в блоках */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
}
